<!DOCTYPE html>
<html>
  <head>
<link href="style.css" rel="stylesheet">
            <title>Моя тестовая страница</title>
  </head>

  <body>


<ul>
 
<li> <a href="http://127.0.0.1:5000/about">о  нас </a> </li>
<li> <a href="http://127.0.0.1:5000/about">о  нас </a> </li>
<li> <a href="http://127.0.0.1:5000/about">о  нас </a> </li>
<li> <a href="http://127.0.0.1:5000/about">о  нас </a> </li>
<li> <a href="http://127.0.0.1:5000/about">о  нас </a> </li>
<li> <a href="http://127.0.0.1:5000/about">о  нас </a> </li>
<li> <a href="http://127.0.0.1:5000/about">о  нас </a> </li>
<li> <a href="http://127.0.0.1:5000/about">о  нас </a> </li>
<li> <a href="http://127.0.0.1:5000/about">о  нас </a> </li>
<li> <a href="http://127.0.0.1:5000/about">о  нас </a> </li>
<li> <a href="http://127.0.0.1:5000/about">о  нас </a> </li>
<li> <a href="http://127.0.0.1:5000/about">о  нас </a> </li>
<li> <a href="http://127.0.0.1:5000/about">о  нас </a> </li>
<li> <a href="http://127.0.0.1:5000/about">о  нас </a> </li>
<li> <a href="http://127.0.0.1:5000/about">о  нас </a> </li>

</ul>

 </div>
  </body>
</html>